<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:source="http://source.scripting.com/">
  <channel>
    <title>{{ metadata.title or hcard.name }}</title>
    <link>{{ hcard.url }}</link>
    <description>{{ metadata.description }}</description>
    <managingEditor>{{ hcard.email }} ({{ hcard.name }})</managingEditor>
    <pubDate>{{ entries | getNewestCollectionItemDate | dateToRfc822 }}</pubDate>
    {%- if hcard.photo %}
    <image>
      <url>{{ hcard.photo | htmlBaseUrl(hcard.url) }}</url>
      <title>{{ metadata.title or hcard.name }}</title>
      <link>{{ hcard.url }}</link>
    </image>
    {% endif %}
    <atom:link href="{{ hcard.url }}/{{ feed }}.xml" rel="self" type="application/rss+xml"/>
    {%- for entry in entries %}
      <item>
        <title>{{ entry.data.title | safe }}</title>
        <link>{{ entry.url | htmlBaseUrl(hcard.url) }}</link>
        <comments>{{ entry.url | htmlBaseUrl(hcard.url) }}#interactions</comments>
        {%- if entry.summary %}
          <description>{{ entry.summary }}</description>
        {%- endif %}
        <content:encoded><![CDATA[{% include entry.data.partial %}]]></content:encoded>
        {%- for t in entry.data.tags %}
          <category domain="{{ hcard.url }}/tags/{{ t | slug }}">{{ t }}</category>
        {%- endfor %}
        <guid>{{ entry.url | htmlBaseUrl(hcard.url) }}</guid>
        <pubDate>{{ entry.date | dateToRfc822 }}</pubDate>
      </item>
    {%- endfor %}
  </channel>
</rss>