---
title: play
eleventyExcludeFromCollections: true
layout: layouts/list.njk
pagination:
  data: collections.play
  size: 10
  alias: entries
  reverse: true
permalink: "play{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber }}{% endif %}/"
---