---
layout: null
eleventyExcludeFromCollections: true
pagination:
  data: feeds
  size: 1
  alias: feed
feeds:
- article
- bookmark
- note
- read
- watch
- feed
- all
- latest
- photo
permalink: "/{{ feed }}.xml"
---
{%- set entries = collections['feedAll' if feed == 'all' else feed] | reverse | limit(10) %}
{%- include "layouts/rss.njk" %}