<article class="h-entry">
	{%- if entry.data.title or entry.title %}
	<h3 class="p-title">{{ entry.data.title or entry.title }}</h3>
	{%- endif %}
	<section class="e-content">
	{{ (content or entry.content) | safe -}}
		{% include "partials/entry/photo.njk" %}
	</section>
	{% include "partials/entry/footer.njk" %}
</article>