{%- set photo = ('photo' | getVariables) or entry.data['photo'] -%}

{%- set fullsize = true -%}

<article class="h-entry">
{%- if entry.data.title or entry.title %}
	<h3 class="p-title">{{ entry.data.title or entry.title }}</h3>
	{%- endif %}

<p class="center fullscreen">
	{%- include "../photo.njk" -%}
</p>
{% include "partials/entry/footer.njk" %}
</article>
