---
layout: layouts/default.njk
eleventyExcludeFromCollections: true
---
<h1>Introduction</h1>
<p>This is a short introduction</p>
<hr>
<h2>Latest posts <a href="/feed.xml"><img src="/icons/rss-simple.svg" alt="RSS Feed"></a></h2>
{%- set entries = collections.feed | reverse | limit(3) -%}
{% include "partials/feed.njk" %}