---
layout: layouts/default.njk
eleventyExcludeFromCollections: false
---
<h1>Introduction</h1>
<p>This is a short introduction</p>
<hr>
<h2>Recent <a href="/all.xml"><img src="/icons/rss-simple.svg" alt="RSS Feed"></a></h2>
{%- set entries = collections.all | reverse | limit(3) -%}
{% include "partials/feed.njk" %}

<h2>Latest Photos <a href="/photo.xml"><img src="/icons/rss-simple.svg" alt="RSS Feed"></a></h2>
{%- set entries = collections.photo | reverse | limit(3) -%}
{% include "partials/gallery.njk" %}