<footer>
	<p class="between">
		Last updated: {{ today | dateToFormat('yyyy-MM-dd HH:mm') }}
		<a href="#top">Back to top ▲</a>
	</p>
	<p class="center">
		<a href="https://indieweb.org"><img src="/images/indieweb88x31-retro-gif.gif" width="88" height="31" alt="Join the IndieWeb"></a>
		<a href="https://11ty.dev"><img src="/images/made-with-11ty.gif" width="88" height="31" alt="Made with 11ty"></a>
	</p>
	<p class="center">Made with <a href="https://github.com/benjifs/umbrella"><img src="/icons/umbrella.svg"></a></p>
</footer>